.c{
 text-align: center;
}
table{
    margin:auto;
}
button{
   font-size: 30px;
   border-radius: 15px;
   height: 50px;
   width: 50px;
   margin: 5px;
   background-color: rgb(226, 216, 216);
}
input{
    height: 40px;
    width: 245px;
    border-radius: 15px ;
    padding: 22px;
    border:solid rgb(107, 100, 100)
}
.calculator{
    border-radius: 2px;
    background-color: rgb(102, 96, 96);
    border-radius: 50px;
    display: inline-block;
    padding: 20px;
}
.s{
    font-style: inherit;
    font-size: 50px;
    color: rgb(0, 128, 111);
}